@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f6fcff inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: #007bc3 !important;
}

.app-container {
  width: 100vw;
  height: 100svh;
}

body {
  @apply !font-primary;
  overflow: hidden;
}

.grecaptcha-badge {
  visibility: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  -webkit-appearance: none;
}

.date::after {
  content: '';
  display: none;
}

input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  color: transparent;
  background: transparent;
}

.custom-legend {
  position: absolute;
  top: 40px;
  right: -10px;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

input::-webkit-date-and-time-value {
  text-align: left;
}
